@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --main-font-family: 'Roboto', sans-serif;
  /* colors from tailwind css */
  --emerald-50: #f0fdf4;
  --emerald-100: #d1fae5;
  --emerald-300: #6ee7b7;
  --emerald-500: #10b981;
  --emerald-700: #047857;
  --emerald-900: #064e3b;
  --neutral-50: #f9fafb;
  --neutral-900: #171717;
  --box-shadow: rgba(0, 0, 0, 0.33);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  color: var(--neutral-900);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--emerald-100);
}

h2 {
  font-size: 2rem;
  color: var(--emerald-900);
}

.content {
  display: flex;
  gap: 48px;
  padding: 24px;
}

/* Form */
#contact-form {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.form-header,
.form-element,
nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 32px;
  margin-bottom: 24px;
  background-color: var(--emerald-50);
  box-shadow: 0 3px 6px var(--box-shadow);
  border-radius: 25px;
}

.form-header {
  align-content: center;
  border-top: 12px solid #047857;
}

.form-controls {
  display: flex;
  justify-content: space-between;
}

.element-title {
  margin-bottom: 12px;
  font-size: 1.2rem;
  font-weight: 500;
}

input[type=text],
select,
textarea {
  padding: 4px 6px;
  font-size: 1rem;
  color: var(--neutral-900);
  background-color: var(--neutral-50);
  border: 1px solid var(--emerald-900);
  border-radius: 6px;
}

.hcInputsDiv {
  display: flex;
  gap: 10px;
}

.institute {
  /* flex-grow: 2; */
}

.hoursInputs>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#btn-submit,
#btn-clear {
  padding: 6px 12px;
  background-color: var(--emerald-900);
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--neutral-50);
}

#btn-submit:hover,
#btn-clear:hover {
  background-color: var(--emerald-700);
  box-shadow: 0 3px 6px var(--box-shadow);
}

#btn-submit:active,
#btn-clear:active {
  transform: translateY(2px);
  box-shadow: 0 3px 6px var(--box-shadow);
}